<p id="notice"><%= notice %></p>
<div class="container">

<h1 class="text-center">Listing To Dos</h1>

  <div class="sortable">
      <%= render @to_dos %>
  </div>

<br>

<%= link_to 'New To do', new_to_do_path %>
</div>
